@font-face {
  font-family: 'House Slant';
  src: url("../fonts/HouseSlant.eot");
  src: url("../fonts/HouseSlant.eot?#iefix") format("embedded-opentype"), url("../fonts/HouseSlant.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
/* Colors */
/* RWD */
/* Mixins */
.m-flex {
  display: flex;
}
.m-flex-end {
  justify-content: flex-end;
}
.m-flex-align-center {
  align-items: center;
}
.m-semibold {
  font-weight: 600;
}
.m-bold {
  font-weight: 700;
}
/* Typography */
h1,
h2,
h3,
h4 {
  font-family: 'House Slant', cursive;
  color: #ff234d;
}
h1 {
  font-size: 85px;
}
h2 {
  font-size: 60px;
  margin-bottom: 40px;
}
@media (max-width: 760px) {
  h1,
  h2 {
    transform: scale(0.8);
  }
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 35px;
}
/* Sections */
body {
  background: #fffae9;
  overflow-x: hidden;
}
section {
  position: relative;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 10px;
  background-color: #ff234d;
  color: #fff;
}
.top {
  position: relative;
  min-height: 100vh;
  background: transparent url(../img/top-s-bg.png) top center / cover;
  padding: 200px 130px 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 760px) {
  .top {
    padding: 0;
    align-items: center;
  }
}
.top-heading {
  width: 50%;
  color: #ff234d;
  text-align: center;
}
@media (max-width: 760px) {
  .top-heading {
    width: auto;
  }
}
.top-heading p {
  padding: 10px;
  font-size: 22px;
  line-height: 1.3;
}
.about {
  position: relative;
  text-align: center;
  margin-top: 170px;
  margin-bottom: 80px;
  z-index: 2;
}
@media (max-width: 760px) {
  .about {
    margin-top: 0;
  }
}
.items-one {
  position: relative;
  clip-path: polygon(0 0, 100% 25%, 100% 81%, 0% 100%);
  background: #17cab9;
  z-index: 2;
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .items-one {
    clip-path: polygon(0 0, 100% 3%, 100% 97%, 0% 100%);
  }
}
.items-one .item {
  padding-top: 300px;
  padding-bottom: 300px;
}
@media (max-width: 1000px) {
  .items-one .item {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.items-one .item .text {
  padding: 30px 20px;
}
.items-one .item .text p {
  font-size: 12px;
}
.items-one .item .text .btn {
  background: rgba(255, 255, 255, 0.9);
}
.items-one .down {
  margin-top: 90px;
}
@media (max-width: 1000px) {
  .items-one .down {
    margin-top: 0;
  }
}
.find-us {
  position: relative;
  margin-top: -100px;
  z-index: 3;
}
@media (max-width: 1000px) {
  .find-us {
    margin-top: 0;
  }
}
.enjoy {
  background: #17cab9;
}
.enjoy-text {
  margin: 115px 105px;
}
@media (max-width: 1000px) {
  .enjoy-text {
    margin: 30px;
  }
}
.enjoy-text p {
  font-size: 12px;
}
.image {
  background: url(../img/enjoy.jpg) center left / cover;
}
@media (max-width: 1000px) {
  .image {
    margin-left: 0;
    height: 50px;
  }
}
/* Columns */
.container {
  margin: 55px 130px;
}
@media (max-width: 760px) {
  .container {
    margin: 0;
    padding: 100px 30px;
  }
}
.row {
  font-size: 16px;
  color: #ff234d;
  line-height: 1.5;
  display: flex;
}
@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}
.row .col-2 {
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}
@media (max-width: 1000px) {
  .row .col-2 {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.row .col-3 {
  width: 33.333%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}
@media (max-width: 1000px) {
  .row .col-3 {
    width: auto;
    padding-top: 10px;
  }
}
/* Buttons */
.btn {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 20px;
  margin-top: 25px;
  font-weight: 700;
}
.btn-sm {
  font-size: 16px;
  padding: 6px 37px;
}
@media (max-width: 1000px) {
  .btn-sm {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }
}
.btn-md {
  font-size: 23px;
  padding: 16px 60px;
}
@media (max-width: 760px) {
  .btn-md {
    padding: 20px 50px;
  }
}
.btn-lg {
  font-size: 28px;
  padding: 18px 75px;
}
.white {
  background: #fff;
  color: #ff234d;
}
.pink {
  background: #ff234d;
  color: #fff;
}
/* Navigation */
header {
  position: absolute;
  z-index: 4;
  width: 100%;
}
header nav {
  padding: 30px 130px;
  transition: all 0.35s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 760px) {
  header nav {
    position: fixed;
    z-index: 2;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 10px 0;
    background: #17cab9;
  }
}
header nav p {
  display: none;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 760px) {
  header nav p {
    display: block;
  }
}
header nav .menu {
  font-size: 21px;
  text-transform: uppercase;
  display: flex;
  font-weight: 600;
}
@media (max-width: 760px) {
  header nav .menu {
    display: none;
    width: 100%;
    padding-bottom: 30px;
  }
}
header nav .menu li {
  margin-left: 40px;
  margin-top: 30px;
}
header nav .menu li.home {
  margin-right: 60px;
  font-weight: 700;
}
header nav .menu li a {
  color: #fff;
}
header nav .menu li a:hover {
  color: #ff234d;
  border-bottom: 1px solid #ff234d;
}
.input-btn {
  display: none;
}
.input-btn:checked ~ .menu {
  display: block;
  transform: translateX(0);
}
.input-btn:checked ~ label.burger {
  background: transparent;
  position: relative;
  display: block;
}
.input-btn:checked ~ label.burger .line2 {
  position: absolute;
  width: 0;
}
.input-btn:checked ~ label.burger .line1 {
  position: absolute;
  transform-origin: 5%;
  transform: rotate(35deg);
}
.input-btn:checked ~ label.burger .line3 {
  transform: rotate(-35deg);
  transform-origin: 5%;
}
.burger {
  display: none;
  padding: 15px;
  z-index: 1;
  transition: transform 0.5s linear;
}
@media (max-width: 760px) {
  .burger {
    display: block;
    position: relative;
    left: 0px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.burger .line1,
.burger .line2,
.burger .line3 {
  position: absolute;
  display: block;
  width: inherit;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  transition: all 0.35s ease-in-out;
}
.burger .line1 {
  top: 0px;
}
.burger .line2 {
  top: 13px;
}
.burger .line3 {
  top: 26px;
}
/* Images in absolute position */
.w-100 {
  width: 100%;
}
.position-absolute {
  position: absolute;
  max-width: 20%;
}
.position-absolute img {
  max-width: 100%;
}
.point-circle {
  right: 0;
  top: 85%;
  z-index: 1;
}
.yellow {
  left: 0;
  top: 95%;
  z-index: 1;
}
.point-blue {
  top: -130px;
  left: 0;
  z-index: 1;
}
.point-blue-2 {
  right: -130px;
  bottom: 115px;
}
.pink-blue {
  top: -50px;
  right: 0;
}
.pink-blue-point {
  top: 30%;
  left: 0;
}
.colors-points {
  top: -100px;
  right: 0;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
}
